/* SEGMENTED-CONTROL */
.segmented-control {
  grid-column: 0.75;
  grid-row: 0.5;
  width: 11rem;
  height: 3rem;
  background-color: var(--primary-button-meal);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  position: relative;
}
.segmented-control input {
  display: none;
}
.segmented-control > input:checked + label {
  transition: all 0.5s ease;
  color: var(--primary-background-color);
}
.segmented-control__1,
.segmented-control__2 {
  width: 6rem;
  height: 3.6rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--primary-navfooter-color);
  transition: all 0.5s ease;
  z-index: 1;
}
.segmented-control__1:hover,
.segmented-control__2:hover {
  color: var(--donut-chart-color-1);
}
.segmented-control__color {
  position: absolute;
  height: 2.5rem;
  width: 5rem;
  margin-left: 0.3rem;
  border-radius: 0.38rem;
  background-color: var(--donut-chart-color-1);
  pointer-events: none;
}
#tab-1:checked ~ .segmented-control__color {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tab-2:checked ~ .segmented-control__color {
  transform: translateX(5.5rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
